/* --------------- GENERAL --------------- */

*{
    box-sizing: border-box;
    font-size: 18px;
}

#main{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
}

h1{
   
    
    font-size: 5em;
    color: navy;
    margin: 5px 40px;
    text-align: center;
}

h2{
   
    
    font-size: 2em;
    color: navy;
    margin: 30px;
    text-align: center;
}

h3{
    font-size: 1.5em;
    text-align: center;

}

h4{
    margin: 0 ;
}

h4 + p{
    
    margin: 0 0 10px 0;
}

ul{
    list-style: none;
    padding: 0;
}

ol{
    padding-left: 21px;
 }



.icon{
    width: 2rem;
    height: 2rem;
}

.icontxt{
    display: table-cell;
    vertical-align: middle;  
}



.smallsize{
    width: 30px;
    height: 30px;
}

.mediumsize{
    width: 48px;
    height: 48px;
}

.txtalignC{
    text-align: center;
}




/* --------------- PERSONNAL INFORMATIONS --------------- */

#personnalInfo{
    border-right: solid 4px blue;
    padding: 10px;
    background-color:darkcyan;
    color: white; 
}

#profilPhoto{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-right: solid 2.5px grey;
    border-radius: 50%;
    box-shadow: 5px 5px 15px grey;
    margin: auto;
}

#identity{
    display: grid;
    grid-template-rows:40px 50px 50px;
    text-align: center;
    vertical-align: middle;
    
}

#name, #firstname, #description {
    margin: auto;
}

#name{
    font-size: 2rem;
}

#firstname{
    font-size: 2.5rem;
}

.alignIconTxt img{
    margin-right: 10px;
    vertical-align: middle;
    
}

/* --------------- PROFESSIONAL INFORMATIONS --------------- */
#professionalInfo{
    padding-left: 50px;
}